
<mat-dialog-content class="mat-typography">
  <div class="input-container">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Project's Title</mat-label>
      <input matInput type="text" [(ngModel)]="title_add"/>
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Project's Description</mat-label>
      <textarea matInput placeholder="A awesome project description" [(ngModel)]="description_add"></textarea>
    </mat-form-field>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial mat-dialog-close (click)="add_project()">Save</button>
</mat-dialog-actions>

