
<mat-dialog-content class="mat-typography">
  <h4>Agregar proyecto</h4>
  <div class="input-container">
    <mat-form-field class="example-form-field" appearance="fill">
      <h5>Titulo:</h5>
      <input matInput type="text" [(ngModel)]="title_add"/>

      <h5>Descripcion</h5>
      <textarea matInput placeholder="A awesome project description" [(ngModel)]="description_add"></textarea>

      <h5>Url de la Imagen</h5>
      <input matInput type="text" [(ngModel)]="img_edit"/>
    </mat-form-field>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial mat-dialog-close (click)="add_project()">Agregar</button>
</mat-dialog-actions>

