
<mat-dialog-content class="mat-typography">
  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Titulo Anuncio</mat-label>
      <input matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Project's Description</mat-label>
      <textarea matInput placeholder="A awesome project description" ></textarea>
    </mat-form-field>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial mat-dialog-close>Save</button>
</mat-dialog-actions>


