
<mat-grid-list cols="4" rowHeight="4pc">
  <mat-grid-tile colspan="4">
    <div class="names-user">
      <h1>{{postulantData.myname+" "+ postulantData.lastname}}</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5" colspan="2"><img src="https://pbs.twimg.com/profile_images/1320794616703164418/A8W5BsYL.jpg" alt="Girl in a jacket" /></mat-grid-tile>
  <mat-grid-tile rowspan="3" colspan="2">
    <div class="description-user">
      <p>
        {{postulantData.myinfo}}
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="2">
    <div class="skills">
      <button mat-raised-button color="primary">{{postulantData.myespeciality}}</button>
      <button mat-raised-button color="primary">{{postulantData.myexperience}}</button>
    </div>

  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    <div class="projects-action">
      <h2>Projects</h2>
      <button mat-raised-button color="primary" (click)="addproject()">Add Project</button>
    </div>
  </mat-grid-tile>
  <!--<mat-grid-tile rowspan="6" colspan="1">
    <app-project></app-project>
  </mat-grid-tile>
  <mat-grid-tile rowspan="6" colspan="1">
    <app-project></app-project>
  </mat-grid-tile>-->
  <mat-grid-tile rowspan="6" colspan="1" *ngFor="let project of myprojects; let i = index">
    <!--<app-project></app-project>-->
    <mat-card class="example-card" >
      <mat-card-header >
        <mat-card-title>{{project.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{project.img}}" alt="Photo of a Shiba Inu" (click)="loockProject(project)">
      <mat-card-actions>
        <button mat-raised-button color="primary"  (click)="deleteproject_dialog(project)">Eliminar</button>
        <button mat-raised-button color="primary" (click)="editProject(project)">Editar</button>
      </mat-card-actions>
    </mat-card>
    <!--<app-project [titleProject]="project.title"></app-project>-->
  </mat-grid-tile>
</mat-grid-list>
<button (click)="getOnePostulant()">as</button>
<button (click)="getMyProjectsown()">PR</button>
<!--<button (click)="loockProyect()" >hola!</button>-->

<style>
  .example-card {
    max-width: 400px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
</style>
